{
  "openapi": "3.0.0",
  "info": {
    "title": "IQJ",
    "version": "v1",
    "contact": {
      "name": "IQJ API",
        "url": "https://mireaiqj.ru"
    }
  },
  "servers": [
    {
      "url": "https://mireaiqj.ru:8443"
    }, 
    {
      "url": "http://localhost:8443"
    }
  ],
  "paths": {
    "/news": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Возвращает последние блочные новости",
        "description": "Получает offset и count из запроса,возвращает массив с последними новостям с учетом offset(сколько новостей нужно пропустить) и count(сколько новостей нужно вывести).",
        "operationId": "GetNews",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "description": "Сколько новостей нужно пропустить",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "count",
            "schema": {
              "type": "integer",
              "description": "Количество новостей, которые нужно получить",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/news":{
      "post": {
        "tags": [
          "News"
        ],
        "summary": "Создание новости",
        "description": "Получает header, link, image_link, tags, publication_time, text и создает новость.",
        "operationId": "PostNews",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Новость создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/NewsG"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news_id": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Получает полную версию новости по id",
        "operationId": "GetNewsById",
        "parameters":[
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "integer",
              "description": "Сколько новостей нужно пропустить",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/News"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sign-in":{
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Аутентификация",
        "description": "Получает email и password, проверяет в бд данные, если все хорошо возвращает JWT.",
        "operationId": "UserAuthentification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Аутентификация прошла успешно", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sign-up":{
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Регистрация",
        "description": "Получает email, password, ФИО, БИО, роль добавляет пользователя в бд.",
        "operationId": "UserRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Регистрация прошла успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ad":{
      "get": {
        "tags": [
          "Ad"
        ],
        "summary": "Получение объявления",
        "description": "Выдает массив с объявлениями, у которых срок годности больше текущей даты, если таких объявлений нет - вернет пустой массив.",
        "operationId": "GetAd",
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdArr"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/ad":{
      "post": {
        "tags": [
          "Ad"
        ],
        "summary": "Создание объявления",
        "description": "Получает content в теле JSON.",
        "operationId": "PostAd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdP"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Добавление объявления прошло успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdG"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Ad"
        ],
        "summary": "Изменение объявления",
        "description": "Изменяет содержание, дату создания и срок годности на переданные в запросе для объявления с переданным id.",
        "operationId": "PutAd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdG"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdG"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lessons":{
      "get": {
        "tags": [
          "Schedule"
        ],
        "summary": "Возвращает массив с расписанием",
        "description": "Получает crtiterion и value из запроса и возвращает массив с расписанием по заданным критериям.   Например при GET /lessons?criterion=group&value=ЭФБО-01-23 вернет расписание на неделю группы ЭФБО-01-23. При GET /lessons?criterion=tutor&value=Сафронов А.А. вернет расписание на неделю преподавателя Сафронов А.А. При GET /lessons?criterion=classroom&value=ауд. А-61 (МП-1) вернет расписание на неделю аудитории ауд. А-61 (МП-1). При неверном критерии или значении отправит null",
        "operationId": "GetLessons",
        "parameters": [
            {
          "name": "criterion",
          "in": "query",
          "description": "Критерий выбора",
          "schema": {
            "type": "string",
            "enum": ["group", "tutor", "classroom"]
          },
          "required": true
          },
          {
            "in": "query",
            "name": "value",
            "schema": {
              "type": "string",
              "description": "Имя параметра расписания(группа, имя преподавателя, аудитория).",
              "default": "ЭФБО-01-23"
            }
          }
        ],
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
      "/api/firebase/list_user" : {
        "get": {
          "tags": [
            "firebase"
          ],
          "summary": "Возвращает массив со всеми пользователями из firebse",
          "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/FirebaseUser"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
        }
      }
    },
  "components": {
    "schemas": {
      "Newsblock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "РТУ МИРЭА посетила официальная делегация КНДР"
          },
          "link": {
            "type": "string",
            "example": "https://www.mirea.ru/news/kamernyy-khor-rtu-mirea-zavoeval-gran-pri-na-vserossiyskom-khorovom-festivale-konkurse-vivat-khor-/"
          },
          "image_link": {
            "type": "string",
            "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "Newsblock2": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Newsblock"
        }
      },
      "News": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "РТУ МИРЭА посетила официальная делегация КНДР"
          },
          "link": {
            "type": "string",
            "example": "https://www.anekdot.ru/release/anekdot/year/2023/7"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "image_link": {
            "type": "string",
            "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "NewsP": {
        "type": "object",
        "properties": {
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
              }
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "publication_time": {
            "type": "string",
            "example": "29.04.2024"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          }
        }
      },
      "NewsG": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
              }
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотруникам"
              }
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "ivanovivan@yandex.ru"
          },
          "password": {
            "type": "string",
            "example": "qwerty1234"
          }
        }
      },
      "UserReg": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Данечек"
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "example": "ivanovivan@yandex.ru"
              },
              "password": {
                "type": "string",
                "example": "qwerty1234"
              }
            }
          },
          "bio": {
            "type": "string",
            "example": ""
          },
          "role": {
            "type": "string",
            "example": "student"
          }
        }
      },
      "JWT": {
        "type": "string",
        "example": "nqhbdqLKVWLBlbaddwvad.advIdwkvdkavdvauvdw.davgjdvadvamddmvgad"
      },
      "AdG": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "ad_content": {
            "type": "string",
            "example": "Если ты хлопнешь в ладоши 6 раз, прыгнешь 3 раза, закроешь глаза и досчитаешь до 10, то под твоей кроватью появится айфон."
          }, 
          "creation_date": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          },
          "expiration_date": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "AdP": {
        "type": "object",
        "properties": {
          "ad_content": {
            "type": "string",
            "example": "Если ты хлопнешь в ладоши 6 раз, прыгнешь 3 раза, закроешь глаза и досчитаешь до 10, то под твоей кроватью появится айфон."
          }, 
          "creation_date": {
            "type": "string",
            "example": "25.04.2024"
          },
          "expiration_date": {
            "type": "string",
            "example": "29.04.2024"
          }
        }
      },
      "AdArr": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AdG"
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "Schedule": {
        "type": "array",
        "items": {
          "type": "object",
        "properties": {
          "class_id": {
            "type": "integer",
            "example": 0
          }, 
          "class_group_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "ЭФБО-01-23"
            }
          },
          "class_teacher_id": {
            "type": "string",
            "example": "Сафронов А.А."
          },
          "class_count": {
            "type": "integer",
            "example": 1
          },
          "class_weekday": {
            "type": "integer",
            "example": 1
          },
          "class_week": {
            "type": "integer",
            "example": 1
          },
          "class_name": {
            "type": "string",
            "example": "кр. 1 н. Физика"
          },
          "class_type": {
            "type": "string",
            "example": "ЛК"
          },
          "class_location": {
            "type": "string",
            "example": "ауд. А-15 (В-78)"
          }
        }
        }
      }, 
      "FirebaseUser": {
        "type": "array",
        "items": {
          "type": "object",
        "properties": {
          
        }
        }
      }
    }
  }
}

