{
  "openapi": "3.0.0",
  "info": {
    "title": "IQJ",
    "version": "v1",
    "contact": {
      "name": "IQJ API",
        "url": "https://mireaiqj.ru"
    }
  },
  "servers": [
    {
      "url": "https://mireaiqj.ru:8443"
    }, 
    {
      "url": "http://localhost:3333"
    }
  ],
  "paths": {
    "/news": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Возвращает последние блочные новости",
        "description": "Получает offset и count из запроса,возвращает массив с последними новостям с учетом offset(сколько новостей нужно пропустить) и count(сколько новостей нужно вывести).",
        "operationId": "GetNews",
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "description": "Сколько новостей нужно пропустить",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "count",
            "schema": {
              "type": "integer",
              "description": "Количество новостей, которые нужно получить",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "News"
        ],
        "summary": "Возвращает последние блочные новости",
        "description": "Получает offset и count из запроса,возвращает массив с последними новостям с учетом offset(сколько новостей нужно пропустить) и count(сколько новостей нужно вывести).",
        "operationId": "PostNews",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsblockP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/NewsblockP"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news_id": {
      "get": {
        "tags": [
          "News"
        ],
        "summary": "Получает полную версию новости по id",
        "operationId": "GetNewsById",
        "parameters":[
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "integer",
              "description": "Сколько новостей нужно пропустить",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/News"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sign-in":{
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Аутентификация",
        "description": "Получает email и password, добавляет проверяет в бд данные, если все хорошо возвращает JWT.",
        "operationId": "UserAuthentification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Аутентификация прошла успешно", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sign-up":{
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Регистрация",
        "description": "Получает email, password, ФИО, БИО, роль добавляет пользователя в бд.",
        "operationId": "UserRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserReg"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Регистрация прошла успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserReg"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ad":{
      "get": {
        "tags": [
          "Ad"
        ],
        "summary": "Возвращает объявления",
        "description": "Получает count из запроса и возвращает массив с последними объявлениями.",
        "operationId": "GetAd",
        "parameters": [
          {
            "in": "query",
            "name": "count",
            "schema": {
              "type": "integer",
              "description": "Сколько объявлений нужно получить.",
              "default": 1
            }
          }
        ],
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdG"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Ad"
        ],
        "summary": "Возвращает объявления",
        "description": "Получает count из запроса и возвращает массив с последними объявлениями.",
        "operationId": "PostAd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdP"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdG"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Newsblock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "РТУ МИРЭА посетила официальная делегация КНДР"
          },
          "link": {
            "type": "string",
            "example": "https://www.mirea.ru/news/kamernyy-khor-rtu-mirea-zavoeval-gran-pri-na-vserossiyskom-khorovom-festivale-konkurse-vivat-khor-/"
          },
          "image_link": {
            "type": "string",
            "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
          },
          "publication_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Newsblock2": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Newsblock"
        }
      },
      "News": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "РТУ МИРЭА посетила официальная делегация КНДР"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "image_link": {
            "type": "string",
            "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
          },
          "publication_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NewsblockP": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string"
              }
          },
          "publication_time": {
            "type": "string",
            "format": "date-time"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "ivanovivan@yandex.ru"
          },
          "password": {
            "type": "string",
            "example": "qwerty1234"
          }
        }
      },
      "UserReg": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Данечек"
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email",
                "example": "ivanovivan@yandex.ru"
              },
              "password": {
                "type": "string",
                "example": "qwerty1234"
              }
            }
          },
          "bio": {
            "type": "string",
            "example": ""
          },
          "role": {
            "type": "string",
            "example": "student"
          }
        }
      },
      "JWT": {
        "type": "object",
        "properties": {
          "jwt": {
            "type": "string",
            "example": "nqhbdqLKVWLBlbaddwvad.advIdwkvdkavdvauvdw.davgjdvadvamddmvgad"
          }
        }
      },
      "AdG": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "content": {
            "type": "string",
            "example": "Если ты хлопнешь в ладоши 6 раз, прыгнешь 3 раза, закроешь глаза и досчитаешь до 10, то под твоей кроватью появится айфон."
          }
        }
      },
      "AdP": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "example": "Если ты хлопнешь в ладоши 6 раз, прыгнешь 3 раза, закроешь глаза и досчитаешь до 10, то под твоей кроватью появится айфон."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}

