{
  "openapi": "3.0.0",
  "info": {
    "title": "IQJ",
    "version": "v1",
    "contact": {
      "name": "IQJ API",
        "url": "https://mireaiqj.ru"
    }
  },
  "servers": [
    {
      "url": "https://mireaiqj.ru:8443"
    }, 
    {
      "url": "http://localhost:8443"
    }
  ],
  "paths": {
    "/sign-in":{
      "post": {
        "tags": [
          "AUTHORIZATION"
        ],
        "summary": "Аутентификация",
        "description": "Получает uid возвращает JWT для этого пользователя.",
        "operationId": "UserAuthentification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "uid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Аутентификация прошла успешно", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/web_sign-in":{
      "post": {
        "tags": [
          "AUTHORIZATION"
        ],
        "summary": "Аутентификация в админ панеле",
        "description": "Получает uid возвращает JWT для этого пользователя, если у него роль administrator.",
        "operationId": "UserAuthentificationWeb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "uid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Аутентификация прошла успешно", 
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/refresh":{
      "post": {
        "tags": [
          "AUTHORIZATION"
        ],
        "summary": "Refresh access and refresh tokens",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Аутентификация прошла успешно", 
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news": {
      "get": {
        "tags": [
          "NEWS"
        ],
        "summary": "Возвращает все блочные новости, определенное количество новостей или новость по id",
        "description": "Передать только id для получения новости по id, передать offset и count, для получения определенного количества новостей с учетом offset(сколько новостей нужно пропустить) и count(сколько новостей нужно вывести) или ничего не передавать, чтобы получить все новости. При получении новости по id вернется только одна новость не в массиве, для остальных запросов все новости будут в массиве.",
        "operationId": "GetNews",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "count",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news_search": {
      "get": {
        "tags": [
          "NEWS"
        ],
        "summary": "Возвращает все блочные новости, у которых заголовок совпадает с переданным в запросе",
        "operationId": "GetNewsByHeader",
        "parameters": [
          {
            "in": "query",
            "name": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news_tags": {
      "get": {
        "tags": [
          "NEWS"
        ],
        "summary": "Возвращает все блочные новости, у которых тэги совпадают с переданным в запросе.",
        "operationId": "GetNewsByTags",
        "parameters": [
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news_date": {
      "get": {
        "tags": [
          "NEWS"
        ],
        "summary": "Возвращает все блочные новости, у которых даты находится между date1 и date2, переданными в запросе.",
        "operationId": "GetNewsByDate",
        "parameters": [
          {
            "in": "query",
            "name": "date1",
            "schema": {
              "type": "string",
              "example": "2024-05-12T00:00:00Z"
            }
          },
          {
            "in": "query",
            "name": "date2",
            "schema": {
              "type": "string",
              "example": "2024-05-14T00:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/news":{
      "post": {
        "security": [
          {                           "AdminAuth": []
          }
        ],
        "tags": [
          "NEWS"
        ],
        "summary": "Создание новости",
        "description": "Получает header, link, image_link, tags, publication_time, text и создает новость.",
        "operationId": "PostNews",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsP"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Новость создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/NewsG"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "AdminAuth": []
          }
        ],
        "tags": [
          "NEWS"
        ],
        "summary": "Изменение новости",
        "description": "Получает id, header, link, image_link, tags, publication_time, text и  новость.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsPut"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Новость создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/NewsG"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminAuth": []
          }
        ],
        "tags": [
          "NEWS"
        ],
        "summary": "Удаление новости с id, переданным в запросе",
        "operationId": "DeleteNewsById",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "The news with the id=1 was successfully deleted"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ad":{
      "get": {
        "tags": [
          "AD"
        ],
        "summary": "Получение объявления",
        "description": "Выдает массив с объявлениями, у которых срок годности больше текущей даты, если таких объявлений нет - вернет пустой массив.",
        "operationId": "GetAd",
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdArr"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ad_all":{
      "get": {
        "tags": [
          "AD"
        ],
        "summary": "Получение всех объявлений",
        "operationId": "GetAllAd",
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdArr"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/ad":{
      "post": {
        "security": [
          {
            "AdminAuth": []
          }
        ],
        "tags": [
          "AD"
        ],
        "summary": "Создание объявления",
        "description": "Получает content в теле JSON.",
        "operationId": "PostAd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdP"
              }
            }
          }
        },
        "responses":{
          "201": {
            "description": "Объявление создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdG"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {                           "AdminAuth": []
          }
        ],
        "tags": [
          "AD"
        ],
        "summary": "Изменение объявления",
        "description": "Изменяет содержание, дату создания и срок годности на переданные в запросе для объявления с переданным id.",
        "operationId": "PutAd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdG"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdG"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "AdminAuth": []
          }
        ],
        "tags": [
          "AD"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Удаление объявления, с id, переданным в запросе",
        "description": "Получает content в теле JSON.",
        "operationId": "DeleteAd",
        "responses":{
          "200": {
            "description": "Удаление объявления прошло успешно",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "The advertisement with the id=1 was successfully deleted"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/lessons":{
      "get": {
        "tags": [
          "SCHEDULE"
        ],
        "summary": "Возвращает массив с расписанием",
        "description": "Получает crtiterion и value из запроса и возвращает массив с расписанием по заданным критериям.   Например при GET /lessons?criterion=group&value=ЭФБО-01-23 вернет расписание на неделю группы ЭФБО-01-23. При GET /lessons?criterion=tutor&value=Сафронов А.А. вернет расписание на неделю преподавателя Сафронов А.А. При GET /lessons?criterion=classroom&value=ауд. А-61 (МП-1) вернет расписание на неделю аудитории ауд. А-61 (МП-1). При неверном критерии или значении отправит null",
        "operationId": "GetLessons",
        "parameters": [
            {
          "name": "criterion",
          "in": "query",
          "description": "Критерий выбора",
          "schema": {
            "type": "string",
            "enum": ["group", "tutor", "classroom"]
          },
          "required": true
          },
          {
            "in": "query",
            "name": "value",
            "schema": {
              "type": "string",
              "description": "Имя параметра расписания(группа, имя преподавателя, аудитория).",
              "default": "ЭФБО-01-23"
            }
          }
        ],
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/firebase/profile" : {
        "get": {
          "security": [
          {                           "AdminAuth": []
          }
        ],
          "tags": [
            "FIREBASE"
          ],
          "summary": "Возвращает информацию об аутентифицированном пользователе",
          "description": "Возвращает все данные пользователя.",
          "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string",
                      "description": "Уникальный идентификатор пользователя"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Электронная почта пользователя"
                    },
                    "display_name": {
                      "type": "string",
                      "description": "Отображаемое имя пользователя"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Номер телефона пользователя"
                    },
                    "last_sign_in_time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Время последнего входа в систему пользователя"
                    },
                    "creation_time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Время создания учетной записи пользователя"
                    },
                    "position": {
                      "type": "string",
                      "description": "Должность"
                    },
                    "institute": {
                      "type": "string",
                      "description": "Институт"
                    },
                    "role": {
                      "type": "string",
                      "description": "Роль"
                    },
                    "picture": {
                      "type": "string",
                      "description": "Картинка"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
        },
        "put": {
          "security": [
          {                           "AdminAuth": []
          }
        ],
          "tags": [
            "FIREBASE"
          ],
          "summary": "Изменяет данные аутентифицированного пользователя в firebase",
          "description": "Изменяет данные пользователя в firebase на переданные.",
          "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "Уникальный идентификатор пользователя"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Электронная почта пользователя",
                    "example":"ivanovivan@yandex.ru"
                  },
                  "password": {
                    "type": "string",
                    "description": "Пароль пользователя",
                    "example":"qwerty1234"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "Отображаемое имя пользователя",
                    "example":"Иванов Иван Иванович"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Номер телефона пользователя",
                    "example":"+79528123456"
                  },
                  "position": {
                    "type": "string",
                    "description": "Должность",
                    "example":"красава"
                  },
                  "institute": {
                    "type": "string",
                    "description": "Институт",
                    "example":"ИПТИП"
                  },
                  "picture": {
                    "type": "string",
                    "description": "Картинка"
                  }
                }
              }
            }
          }
        },
          "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/FirebaseUser"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
        }
      },
      "/auth/firebase/user" : {
        "get": {
          "security": [
          {                           "AdminAuth": []
          }
        ],
          "tags": [
            "FIREBASE"
          ],
          "summary": "Возвращает массив со всеми пользователями из firebase",
          "description": "Возвращает все данные пользователя.",
          "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/FirebaseUserInfo"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
        },
        "post": {
          "security": [
          {                           "AdminAuth": []
          }
        ],
          "tags": [
            "FIREBASE"
          ],
          "summary": "Создает пользователя в firebase",
          "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirebaseUser"
              }
            }
          }
        },
          "responses": {
          "201": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/FirebaseUser"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
        },
        "put": {
          "security": [
          {                           "AdminAuth": []
          }
        ],
          "tags": [
            "FIREBASE"
          ],
          "summary": "Изменяет данные пользователя в firebase",
          "description": "Изменяет данные пользователя в firebase на переданные.",
          "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirebaseUserUpdate"
              }
            }
          }
        },
          "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/FirebaseUser"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
        },
        "delete": {
          "security": [
          {                           "AdminAuth": []
          }
        ],
          "tags": [
            "FIREBASE"
          ],
          "summary": "Удаляет пользователя из firebase",
          "description": "Удаляет пользователя из firebase по uid.",
          "parameters": [
          {
            "in": "query",
            "name": "uid",
            "schema": {
              "type": "string"
            }
          }
        ],
          "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/FirebaseUser"
                }
              }
            }
          },
          "404": {
            "description": "Проблемка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
        }
      }
    },
  "components": {
  "securitySchemes": {
    "AdminAuth": {
      "type": "apiKey",
            "name": "Authorization",
            "in": "header"
    }
  },
    "schemas": {
      "Newsblock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "РТУ МИРЭА посетила официальная делегация КНДР"
          },
          "link": {
            "type": "string",
            "example": "https://www.mirea.ru/news/kamernyy-khor-rtu-mirea-zavoeval-gran-pri-na-vserossiyskom-khorovom-festivale-konkurse-vivat-khor-/"
          },
          "image_link": {
            "type": "string",
            "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "is_for_students": {
            "type": "boolean",
            "example": "false"
          },
          "author_name": {
            "type": "string",
            "example": "РТУ МИРЭА"
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "Newsblock2": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Newsblock"
        }
      },
      "News": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "РТУ МИРЭА посетила официальная делегация КНДР"
          },
          "link": {
            "type": "string",
            "example": "https://www.anekdot.ru/release/anekdot/year/2023/7"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "image_link": {
            "type": "string",
            "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "NewsP": {
        "type": "object",
        "properties": {
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
              }
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "author_name": {
            "type": "string",
            "example": "РТУ МИРЭА"
          },
          "publication_time": {
            "type": "string",
            "example": "29.04.2024"
          }
        }
      },
      "NewsG": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
              }
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотруникам"
              }
          },
          "is_for_students": {
            "type": "boolean",
            "example": "false"
          },
          "author_name": {
            "type": "string",
            "example": "РТУ МИРЭА"
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "NewsPut": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
              }
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "author_name": {
            "type": "string",
            "example": "РТУ МИРЭА"
          },
          "publication_time": {
            "type": "string",
            "example": "29.04.2024"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "ivanovivan@yandex.ru"
          },
          "password": {
            "type": "string",
            "example": "qwerty1234"
          },
          "name": {
            "type": "string",
            "example": "vanek"
          }
        }
      },
      "UserAuth": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "ivanovivan@yandex.ru"
          },
          "password": {
            "type": "string",
            "example": "qwerty1234"
          }
        }
      },
      "JWT": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "nqhbdqLKVWLBlbaddwvad.advIdwkvdkavdvauvdw.davgjdvadvamddmvgad"
          }
        }
      },
      "AdG": {
        "type": "object",
        "properties": {
          "ad_id": {
            "type": "integer",
            "example": 1
          },
          "ad_content": {
            "type": "string",
            "example": "Если ты хлопнешь в ладоши 6 раз, прыгнешь 3 раза, закроешь глаза и досчитаешь до 10, то под твоей кроватью появится айфон."
          }, 
          "creation_date": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          },
          "expiration_date": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "AdP": {
        "type": "object",
        "properties": {
          "ad_content": {
            "type": "string",
            "example": "Если ты хлопнешь в ладоши 6 раз, прыгнешь 3 раза, закроешь глаза и досчитаешь до 10, то под твоей кроватью появится айфон."
          }, 
          "creation_date": {
            "type": "string",
            "example": "25.04.2024"
          },
          "expiration_date": {
            "type": "string",
            "example": "29.04.2024"
          }
        }
      },
      "AdArr": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AdG"
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Schedule": {
        "type": "array",
        "items": {
          "type": "object",
        "properties": {
          "class_id": {
            "type": "integer",
            "example": 0
          }, 
          "class_group_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "ЭФБО-01-23"
            }
          },
          "class_teacher_id": {
            "type": "string",
            "example": "Сафронов А.А."
          },
          "class_count": {
            "type": "integer",
            "example": 1
          },
          "class_weekday": {
            "type": "integer",
            "example": 1
          },
          "class_week": {
            "type": "integer",
            "example": 1
          },
          "class_name": {
            "type": "string",
            "example": "кр. 1 н. Физика"
          },
          "class_type": {
            "type": "string",
            "example": "ЛК"
          },
          "class_location": {
            "type": "string",
            "example": "ауд. А-15 (В-78)"
          }
        }
        }
      }, 
      "FirebaseUserInfo": {
        "type": "array",
        "items": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Уникальный идентификатор пользователя"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Электронная почта пользователя"
          },
          "display_name": {
            "type": "string",
            "description": "Отображаемое имя пользователя"
          },
          "phone_number": {
            "type": "string",
            "description": "Номер телефона пользователя"
          },
          "last_sign_in_time": {
            "type": "string",
            "format": "date-time",
            "description": "Время последнего входа в систему пользователя"
          },
          "creation_time": {
            "type": "string",
            "format": "date-time",
            "description": "Время создания учетной записи пользователя"
          },
          "position": {
            "type": "string",
            "description": "Должность"
          },
          "institute": {
            "type": "string",
            "description": "Институт"
          },
          "role": {
            "type": "string",
            "description": "Роль"
          },
          "picture": {
            "type": "string",
            "description": "Картинка"
          }
        }
      }
    },
    "FirebaseUser": {
  "type": "object",
  "properties": {
    "email": {
      "type": "string",
      "format": "email",
      "description": "Электронная почта пользователя",
      "example":"ivanovivan@yandex.ru"
    },
    "password": {
      "type": "string",
      "description": "Пароль пользователя",
      "example":"qwerty1234"
    },
    "display_name": {
      "type": "string",
      "description": "Отображаемое имя пользователя",
      "example":"Иванов Иван Иванович"
    },
    "phone_number": {
      "type": "string",
      "description": "Номер телефона пользователя",
      "example":"+79528123456"
    },
    "position": {
      "type": "string",
      "description": "Должность",
      "example":"красава"
    },
    "institute": {
      "type": "string",
      "description": "Институт",
      "example":"ИПТИП"
    },
    "role": {
      "type": "string",
      "description": "Роль",
      "example":"student"
    },
    "picture": {
      "type": "string",
      "description": "Картинка"
    }
        }
    },
    "FirebaseUserUpdate": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Уникальный идентификатор пользователя"
        },
        "email": {
          "type": "string",
          "format": "email",
          "description": "Электронная почта пользователя",
          "example":"ivanovivan@yandex.ru"
        },
        "password": {
          "type": "string",
          "description": "Пароль пользователя",
          "example":"qwerty1234"
        },
        "display_name": {
          "type": "string",
          "description": "Отображаемое имя пользователя",
          "example":"Иванов Иван Иванович"
        },
        "phone_number": {
          "type": "string",
          "description": "Номер телефона пользователя",
          "example":"+79528123456"
        },
        "position": {
          "type": "string",
          "description": "Должность",
          "example":"красава"
        },
        "institute": {
          "type": "string",
          "description": "Институт",
          "example":"ИПТИП"
        },
        "role": {
          "type": "string",
          "description": "Роль",
          "example":"student"
        },
        "picture": {
          "type": "string",
          "description": "Картинка"
        }
      }
    }
  }
}
}
