{
  "openapi": "3.0.3",
  "info": {
    "title": "IQJ",
    "version": "v1",
    "contact": {
      "name": "IQJ API",
        "url": "https://iqj.8xbyte.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.iqj.8xbyte.dev"
    }, 
    {
      "url": "http://localhost:10558"
    }
  ],
  "paths": {
    "/sign-up":{
      "post": {
        "tags": [
          "AUTHORIZATION"
        ],
        "summary": "Регистрация",
        "description": "Создание пользователя в бд.",
        "operationId": "UserRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullUser"
              }
            }
          }
        },
        "responses":{
          "201": {
            "description": "Регистрация прошла успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullUser"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sign-in":{
      "post": {
        "tags": [
          "AUTHORIZATION"
        ],
        "summary": "Аутентификация",
        "description": "Получает uid возвращает JWT для этого пользователя.",
        "operationId": "UserAuthentification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAuth"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Аутентификация прошла успешно", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/web/sign-in":{
      "post": {
        "tags": [
          "AUTHORIZATION"
        ],
        "summary": "Аутентификация в админ панеле",
        "description": "Получает uid возвращает JWT для этого пользователя, если у него роль administrator.",
        "operationId": "UserAuthentificationWeb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAuth"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Аутентификация прошла успешно", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/refresh/mobile":{
      "post": {
        "tags": [
          "AUTHORIZATION"
        ],
        "summary": "Обновление access and refresh токенов для мобильного приложения",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Токены успешно обновлены", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/refresh/web":{
      "post": {
        "tags": [
          "AUTHORIZATION"
        ],
        "summary": "Обновление access and refresh токенов для админ панели",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Токены успешно обновлены", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/lks":{
      "get": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "LKS"
        ],
        "summary": "Вывод всей информации о пользователе",
        "responses":{
          "200": {
            "description": "Успешный ответ", 
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "main_info": {
                      "$ref": "#/components/schemas/User"
                    },
                    "additional_info": {
                      "$ref": "#/components/schemas/UserData"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "LKS"
        ],
        "summary": "Обновление данных пользователя",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDataPut"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Данные успешно обновлены", 
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDataPut"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "LKS"
        ],
        "summary": "Удаление пользователя",
        "description": "Удаление своего аккаунта или аккаунта с переданным id(только для модераторов)",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses":{
          "200": {
            "description": "Пользователь успешно удален", 
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "User with the id=1 was successfully deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/lks/password":{
      "put": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "LKS"
        ],
        "summary": "Изменение пароля пользователя",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema":{
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Пароль успешно сменен", 
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "Password was changed"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/lks/avatar/{id}":{
      "get": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "LKS"
        ],
        "summary": "Получение аватарки профиля",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses":{
          "200": {
            "description": "Успешный ответ", 
            "content": {
              "application/octet-stream": {}
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/lks/avatar":{
      "put": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "LKS"
        ],
        "summary": "Изменение аватарки профиля",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "Файл для загрузки"
                  }
                }
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Аватарка успешно обновлена", 
            "content": {
              "application/octet-stream": {}
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "LKS"
        ],
        "summary": "Удаление аватарки профиля",
        "description": "Удаление своей аватарки",
        "responses":{
          "200": {
            "description": "Аватарка профиля успешно удалена", 
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "Avatar was successfully deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news": {
      "get": {
        "tags": [
          "NEWS"
        ],
        "summary": "Возвращает все блочные новости, определенное количество новостей или новость по id",
        "description": "Передать только id для получения новости по id, передать offset и count, для получения определенного количества новостей с учетом offset(сколько новостей нужно пропустить) и count(сколько новостей нужно вывести) или ничего не передавать, чтобы получить все новости. При получении новости по id вернется только одна новость не в массиве, для остальных запросов все новости будут в массиве.",
        "operationId": "GetNews",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "count",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news_search": {
      "get": {
        "tags": [
          "NEWS"
        ],
        "summary": "Возвращает все блочные новости, у которых заголовок совпадает с переданным в запросе",
        "operationId": "GetNewsByHeader",
        "parameters": [
          {
            "in": "query",
            "name": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news_tags": {
      "get": {
        "tags": [
          "NEWS"
        ],
        "summary": "Возвращает все блочные новости, у которых тэги совпадают с переданным в запросе.",
        "operationId": "GetNewsByTags",
        "parameters": [
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/news_date": {
      "get": {
        "tags": [
          "NEWS"
        ],
        "summary": "Возвращает все блочные новости, у которых даты находится между date1 и date2, переданными в запросе.",
        "operationId": "GetNewsByDate",
        "parameters": [
          {
            "in": "query",
            "name": "date1",
            "schema": {
              "type": "string",
              "example": "2024-05-12T00:00:00Z"
            }
          },
          {
            "in": "query",
            "name": "date2",
            "schema": {
              "type": "string",
              "example": "2024-05-14T00:00:00Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/Newsblock2"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/news":{
      "post": {
        "security": [
          {                           
            "Auth": []
          }
        ],
        "tags": [
          "NEWS"
        ],
        "summary": "Создание новости",
        "description": "Получает header, link, image_link, tags, publication_time, text и создает новость.",
        "operationId": "PostNews",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsP"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Новость создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/NewsG"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "NEWS"
        ],
        "summary": "Изменение новости",
        "description": "Получает id, header, link, image_link, tags, publication_time, text и  новость.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsPut"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Новость создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref" : "#/components/schemas/NewsG"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "NEWS"
        ],
        "summary": "Удаление новости с id, переданным в запросе",
        "operationId": "DeleteNewsById",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "The news with the id=1 was successfully deleted"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ad":{
      "get": {
        "tags": [
          "AD"
        ],
        "summary": "Получение объявления",
        "description": "Выдает массив с объявлениями, у которых срок годности больше текущей даты, если таких объявлений нет - вернет пустой массив.",
        "operationId": "GetAd",
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdArr"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ad_all":{
      "get": {
        "tags": [
          "AD"
        ],
        "summary": "Получение всех объявлений",
        "operationId": "GetAllAd",
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdArr"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/ad":{
      "post": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "AD"
        ],
        "summary": "Создание объявления",
        "description": "Получает content в теле JSON.",
        "operationId": "PostAd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdP"
              }
            }
          }
        },
        "responses":{
          "201": {
            "description": "Объявление создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdG"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "AD"
        ],
        "summary": "Изменение объявления",
        "description": "Изменяет содержание, дату создания и срок годности на переданные в запросе для объявления с переданным id.",
        "operationId": "PutAd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdG"
              }
            }
          }
        },
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdG"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "AD"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Удаление объявления, с id, переданным в запросе",
        "description": "Получает content в теле JSON.",
        "operationId": "DeleteAd",
        "responses":{
          "200": {
            "description": "Удаление объявления прошло успешно",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string",
                      "example": "The advertisement with the id=1 was successfully deleted"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Пользователь не авторизован",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Недостаточно прав",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/search/{name}":{
      "get": {
        "tags": [
          "SCHEDULE"
        ],
        "summary": "Поиск данных для расписания",
        "description": "Возвращает id, полное название и тип объекта расписания. ЭТО ВСЕ НУЖНЫЕ ДАННЫЕ, ЧТОБЫ ПОТОМ ПОЛУЧИТЬ ПО НИМ РАСПИСАНИЕ",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleSearch"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/schedule/get/{id}/{title}/{target}":{
      "get": {
        "tags": [
          "SCHEDULE"
        ],
        "summary": "Возвращает массив с расписанием",
        "description": "class_name - название предмета | class_group_names - массив групп, у которых пара | class_teacher_name - массив преподавателей, которые ведут пару | class_count - номер пары | class_weekday - номер дня недели(1-понедельник и тд.) | class_week - нечетная = 1 или четная неделя = 2 | class_type - тип пары | class_location - аудитория | class_date - дата проведения пары | class_time_start - время начала пары | class_time_end - время конца пары",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "target",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "title",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses":{
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                }
              }
            }
          },
          "400": {
            "description": "Неверные входные данные",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Проблема на стороне сервера",
            "content": {
              "application/json": {
                "schema":{
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
  "securitySchemes": {
    "Auth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
    "schemas": {
      "Newsblock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "РТУ МИРЭА посетила официальная делегация КНДР"
          },
          "link": {
            "type": "string",
            "example": "https://www.mirea.ru/news/kamernyy-khor-rtu-mirea-zavoeval-gran-pri-na-vserossiyskom-khorovom-festivale-konkurse-vivat-khor-/"
          },
          "image_link": {
            "type": "string",
            "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "is_for_students": {
            "type": "boolean",
            "example": "false"
          },
          "author_name": {
            "type": "string",
            "example": "РТУ МИРЭА"
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "Newsblock2": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Newsblock"
        }
      },
      "News": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "1"
          },
          "header": {
            "type": "string",
            "example": "РТУ МИРЭА посетила официальная делегация КНДР"
          },
          "link": {
            "type": "string",
            "example": "https://www.anekdot.ru/release/anekdot/year/2023/7"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "image_link": {
            "type": "string",
            "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "NewsP": {
        "type": "object",
        "properties": {
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
              }
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "author_name": {
            "type": "string",
            "example": "РТУ МИРЭА"
          },
          "publication_time": {
            "type": "string",
            "example": "29.04.2024"
          }
        }
      },
      "NewsG": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
              }
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотруникам"
              }
          },
          "is_for_students": {
            "type": "boolean",
            "example": "false"
          },
          "author_name": {
            "type": "string",
            "example": "РТУ МИРЭА"
          },
          "publication_time": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "NewsPut": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "header": {
            "type": "string",
            "example": "Котики собачки"
          },
          "text": {
            "type": "string",
            "example": "11 марта РТУ МИРЭА посетила официальная делегация Корейской Народно-Демократической Республики."
          },
          "link": {
            "type": "string",
            "example": ""
          },
          "image_link": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "https://celes.club/uploads/posts/2022-10/1666897679_16-celes-club-p-smeshnoi-kot-krasivo-16.jpg"
              }
          },
          "tags": {
            "type": "array",
            "items": {
                "type": "string",
                "example": "сотрудникам"
              }
          },
          "author_name": {
            "type": "string",
            "example": "РТУ МИРЭА"
          },
          "publication_time": {
            "type": "string",
            "example": "29.04.2024"
          }
        }
      },
      "FullUser": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "ivanovivan@yandex.ru"
          },
          "password": {
            "type": "string",
            "example": "qwerty1234"
          },
          "user_name": {
            "type": "string",
            "example": "vanek"
          },
          "last_name": {
            "type": "string",
            "example": "Иванов"
          },
          "first_name": {
            "type": "string",
            "example": "Иван"
          },
          "middle_name": {
            "type": "string",
            "example": "Иванович"
          },
          "role": {
            "type": "string",
            "example": "student"
          },
          "institute": {
            "type": "string",
            "example": "ИПТИП"
          },
          "position_or_course": {
            "type": "string",
            "example": "2"
          }
        }
      },
      "UserAuth": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "ivanovivan@yandex.ru"
          },
          "password": {
            "type": "string",
            "example": "qwerty1234"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Электронная почта пользователя"
          },
          "password": {
            "type": "string",
            "description": "Хешированный пароль пользователя"
          }
        }
      },
      "UserData": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Имя пользователя"
          },
          "last_name": {
            "type": "string",
            "description": "Фамилия"
          },
          "first_name": {
            "type": "string",
            "description": "Имя"
          },
          "middle_name": {
            "type": "string",
            "description": "Отчество"
          },
          "role": {
            "type": "string",
            "description": "Роль (студент/преподаватель)"
          },
          "institute": {
            "type": "string",
            "description": "Институт"
          },
          "position_or_course": {
            "type": "string",
            "description": "Должность или курс"
          },
          "avatar": {
            "type": "string",
            "description": "Фото (аватарка)"
          },
          "registration_date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата регистрации"
          },
          "last_auth_date": {
            "type": "string",
            "format": "date-time",
            "description": "Последняя дата авторизации"
          },
          "last_modified_date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата изменения данных"
          }
        }
      },
      "UserDataPut": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Имя пользователя"
          },
          "last_name": {
            "type": "string",
            "description": "Фамилия"
          },
          "first_name": {
            "type": "string",
            "description": "Имя"
          },
          "middle_name": {
            "type": "string",
            "description": "Отчество"
          },
          "role": {
            "type": "string",
            "description": "Роль (студент/преподаватель)"
          },
          "institute": {
            "type": "string",
            "description": "Институт"
          },
          "position_or_course": {
            "type": "string",
            "description": "Должность или курс"
          }
        }
      },
      "JWT": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "AdG": {
        "type": "object",
        "properties": {
          "ad_id": {
            "type": "integer",
            "example": 1
          },
          "ad_content": {
            "type": "string",
            "example": "Если ты хлопнешь в ладоши 6 раз, прыгнешь 3 раза, закроешь глаза и досчитаешь до 10, то под твоей кроватью появится айфон."
          }, 
          "creation_date": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          },
          "expiration_date": {
            "type": "string",
            "example": "2024-04-27T00:00:00Z"
          }
        }
      },
      "AdP": {
        "type": "object",
        "properties": {
          "ad_content": {
            "type": "string",
            "example": "Если ты хлопнешь в ладоши 6 раз, прыгнешь 3 раза, закроешь глаза и досчитаешь до 10, то под твоей кроватью появится айфон."
          }, 
          "creation_date": {
            "type": "string",
            "example": "25.04.2024"
          },
          "expiration_date": {
            "type": "string",
            "example": "29.04.2024"
          }
        }
      },
      "AdArr": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AdG"
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Schedule": {
        "type": "array",
        "items": {
          "type": "object",
        "properties": {
          "class_name": {
            "type": "string",
            "example": "Иностранный язык"
          },
          "class_group_names": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "ЭФБО-01-23"
            }
          },
          "class_teacher_names": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Павличенко Александр Иванович"
            }
          },
          "class_count": {
            "type": "integer",
            "example": 1
          },
          "class_weekday": {
            "type": "integer",
            "example": 1
          },
          "class_week": {
            "type": "integer",
            "example": 1
          },
          "class_type": {
            "type": "string",
            "example": "ПР"
          },
          "class_location": {
            "type": "string",
            "example": "И-328 (В-78)"
          },
          "class_date": {
            "type": "string",
            "format": "date"
          },
          "class_time_start": {
            "type": "string",
            "example": "9:00"
          },
          "class_time_end": {
            "type": "string",
            "example": "10:30"
          }
        }
      }
    },
    "ScheduleSearch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 865
          },
          "fullTitle": {
            "type": "string",
            "example": "Юдин Александр Викторович"
          },
          "scheduleTarget": {
            "type": "integer",
            "example": 2
          }
        }
    }
  }
}
}
